/* Example 2.4, Styling country borders */
.countries {
	fill: #FFF;
	stroke: #CCC;
	stroke-width: 2px;
}
/* Example 2.7, Graticule line styles */
.gratLines {
	fill: none;
	stroke: #999;
	stroke-width: 1px;
}
/* Example 2.9, Graticule background style*/
.gratBackground {
	fill: #D5E3FF;
}
/*Example 2.9, Framing the map*/
.map {
	border: medium solid #999;
}