/* Example 2.4, Styling borders */
.nyc {
	fill: #FFF;
	stroke: #CCC;
	stroke-width: .5px;
}

.manhattan {
	fill: #FFF;
	stroke: black;
	stroke-width: .5px;
}
/* Example 2.7, Graticule line styles */
.gratLines {
	fill: none;
	stroke: #999;
	stroke-width: 1px;
}
/* Example 2.9, Graticule background style*/
.gratBackground {
	fill: #D5E3FF;
}
/*Example 2.9, Framing the map*/
.map {
	border: medium solid #999;
	margin: 10px 0 0 20px;
}

.chart {
	background-color: rgba(128,128,128,.2);
	border: medium solid #999;
	float: right;
	margin: 10px 20px 0 0;
}

.chartTitle {
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}